<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      old Contracts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">old Contracts</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-radio-group [(ngModel)] = "curNetWork" (ionChange)="handleContracts(curNetWork)">
      <ion-list-header>
        <ion-label>NetWork</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>mainNet</ion-label>
        <ion-radio slot="start" value="mainNet"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>testNet</ion-label>
        <ion-radio slot="start" value="testNet"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
  <p *ngIf="notSale!=null">未出售的个数：{{notSale}}</p>
  <p *ngIf="saleCount!=null">正在出售的个数：{{saleCount}}</p>
  <p>{{tokenContent}}</p>
  <p>{{jsonUri}}</p>
  <ion-item>
    <ion-label>参数</ion-label>
    <ion-input [(ngModel)]="tokenId"></ion-input>
  </ion-item>

  <br/>
  <ion-button (click)="getTokeninfo()">
    getTokenInfo()
  </ion-button>
  <br/>
  <ion-button (click)="getBalance()">
    getBalance()
  </ion-button>

  <ion-button (click)="getOrderinfo()">
    getOrderinfo()
  </ion-button>

  <ion-button (click)="checkJsonUri()">
    checkJsonUri()
  </ion-button>

  <ion-button (click)="getNotSaleCount()">
    getNotSaleCount()
  </ion-button>

  <ion-button (click)="getSaleCount()">
    getSaleCount()
  </ion-button>

  <ion-button (click)="getOpenOrderCount()">
    getOpenOrderCount()
  </ion-button>
</ion-content>
